/GestiBanque/nbproject/private/
/GestiBanque/GestiBanque-war/nbproject/private/
/GestiBanque/GestiBanque-ejb/nbproject/private/
/GestiBanque/GestiBanque-ejb/build/
/GestiBanque/GestiBanque-ejb/dist/
/GestiBanque/GestiBanque-war/build/
/GestiBanque/GestiBanque-war/dist/
/GestiBanque/dist/
/GestiBanque/build/
/TP4Comptesbancaires/nbproject/private/
/TP4Comptesbancaires/TP4Comptesbancaires-war/nbproject/private/
/TP4Comptesbancaires/TP4Comptesbancaires-ejb/nbproject/private/
/TP4Comptesbancaires/TP4Comptesbancaires-ejb/build/
/TP4Comptesbancaires/TP4Comptesbancaires-war/build/
/TP4Comptesbancaires/build/
/TP4Comptesbancaires/TP4Comptesbancaires-ejb/dist/
/TP4Comptesbancaires/TP4Comptesbancaires-war/dist/
/TP4Comptesbancaires/dist/